ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3em;
  padding-top: 2em;
  background-color: rgb(203, 187, 217);
  margin: 0;
}
.menu {
  padding-top: 2em;
}
.menu a {
  font-size: 20px;
  color: rgb(26, 22, 11);
}
.menu-sud {
  display: flex;
  background-color: rgb(165, 165, 213);
}
.menu-sud p {
  padding-top: 6em;
}
